/*index page styles*/

/* full height and width bg image */

body,html{
	height: 100%;
	margin: 0;
}
/* navigation bar  */
.navigation{
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	display: flex;
}
/* transparent header to colored */
.non-transparent{
	background-color: dimgrey; !important;
}
/*nav links is inside navigation for social
media icons*/
.nav-links{
	padding: 20px 10%;
	width: 60%;
}
.social-media{
	padding-top: 20px;
	width: 20%;
	
}

/*for navigation home about etc*/
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
}
li{
	float: left;
}
li a{
	display: block;
	color: white;
	text-align: center;
	padding: 15px 15px;
	text-decoration: none;
}

li a:hover{
	transform: scale(1.25);
}

/*for social media elements*/
i{
	float: right;
	padding: 25px 15px;
}

i:hover{
	transform: scale(1.25);
}

/*book now button*/
.button{
	
	display: block;
	background-color: transparent;
	text-align: center;
	padding: 25px 15px;
	text-decoration: none;
	color: white;
	float: right;
	width: 20%;
	
}

button
{
	margin-top: 7px !important;
}

/* used image */
.banner{
	
	background-image: url("../images/room bg2.jpg");

	/*full height*/
	height: 100%;

	/* image property */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*for hotel name and tagline*/
.textbg{
	font-family: Times New Roman;
	position: relative;
	color: #c99200;
	font-size: 5rem;
	top: 80%;
	left: 60%;
	transform: translate(-50%,-50%);
}
.text{
	font-size:2rem;
	position: absolute;
	font-family: Times New Roman;
	color: beige;
	top: 85%;
	left: 50%;
	
}

/*about us*/
.aboutus{
	padding: 40px 8%;
}

.col{
	font-size: 1.1rem;
	text-align: justify;
	color: dimgrey;
	font-family: Times New Roman;
}
.aboutus a{
	color: dimgrey;
}
.aboutus a:hover{
	font-size: 1.2rem;
	transform: scale(1.5);
}
.aboutus img{
	object-fit: cover;
	display: block;
	
}
.aboutus p{
	color: black;
	font-size: 20px;
	font-family: calibri;
}
/*Available Rooms*/
.Rooms{
	text-align: center;
	font-family: Times New Roman;
	font-size: 4rem;
	color: #c99200;
	padding: 40px 5%;
}
.Rooms img{
	display: block;
	margin: 0 auto;
}


	ul{
			text-align: center;
			list-style-type: circle;
			list-style-position: inside;
			color: black;
		}